## Урок 2
### Задача 1
    Скачать данные из прошлого семинара(дома)
    Считать данные с помощью pandas
    Вывести на экран первые 5 строк

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('kc_house_data.csv')

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0.

In [2]:
df['delta_renovated'] = df.apply(lambda x: max(0, x['yr_renovated'] - x['yr_built']), axis=1)

df['delta_renovated']

0         0
1        40
2         0
3         0
4         0
         ..
21608     0
21609     0
21610     0
21611     0
21612     0
Name: delta_renovated, Length: 21613, dtype: int64

Создайте признаки года продажи, месяца продажи

In [3]:
df['sale_year'] = pd.DatetimeIndex(df['date']).year

df['sale_month'] = pd.DatetimeIndex(df['date']).month

Удалите признаки date, zipcode, lat, long

In [4]:
df.drop(columns = ['date', 'zipcode', 'lat', 'long'])

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,2
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509,0,2014,5
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200,0,2015,2
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007,0,2014,6
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287,0,2015,1
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357,0,2014,10

### Задача 2
Создайте датафрейм с клиентами:

In [5]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

Присоедините к таблице clients данные по домам через метод join

In [7]:
df = df.rename(columns={'id': 'house_id'})

joint_join = clients.set_index('house_id').join(df.set_index('house_id'), how='inner')

joint_join

,client_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
house_id,,,,,,,,,,,,,,,,,,,,,
339600110,4809,20140923T000000,395000.0,3,2.50,1610,3755,2.0,0,0,...,1987,0,98052,47.6825,-122.097,1300,3823,0,2014,9
809001400,3113,20140922T000000,925000.0,3,1.00,1630,3200,1.5,0,0,...,1912,0,98109,47.6351,-122.352,1710,3600,0,2014,9
825069097,1764,20140619T000000,770000.0,3,2.50,2650,40705,2.0,0,0,...,1994,0,98053,47.6680,-122.063,2550,42625,0,2014,6
1099600250,2242,20141202T000000,260000.0,3,1.75,1710,6400,1.0,0,0,...,1976,0,98023,47.3036,-122.377,1600,6400,0,2014,12
1189000207,2308,20141021T000000,387000.0,2,2.50,1170,1394,2.0,0,0,...,2001,0,98122,47.6131,-122.297,1250,3136,0,2014,10
1522700060,4535,20140624T000000,518000.0,4,2.75,2520,14021,2.0,0,0,...,1999,0,98019,47.7344,-121.957,2330,14007,0,2014,6
1622049154,2134,20141215T000000,289900.0,3,1.75,1899,11325,2.0,0,0,...,1943,2005,98198,47.3987,-122.300,2000,10454,62,2014,12
1788800910,939,20141020T000000,190000.0,3,1.00,1200,10458,1.0,0,0,...,1961,0,98023,47.3262,-122.342,1160,9000,0,2014,10
1951600150,4213,20150408T000000,180000.0,3,1.00,1610,8500,1.5,0,0,...,1959,0,98032,47.3717,-122.297,1070,8750,0,2015,4
2131701075,3942,20141204T000000,420000.0,3,1.75,1720,5000,1.5,0,0,...,1932,2009,98019,47.7380,-121.983,1410,8300,77,2014,12
2768100205,4929,20140625T000000,519000.0,4,2.50,1950,2617,1.5,0,0,...,1910,0,98107,47.6696,-122.372,1520,1438,0,2014,6
3123049142,280,20140805T000000,452000.0,3,2.25,2600,14810,1.0,0,2,...,1956,0,98166,47.4326,-122.341,2450,16715,0,2014,8
3303980210,3317,20150427T000000,1115000.0,4,3.75,4040,14212,2.0,0,0,...,2002,0,98059,47.5189,-122.147,3940,14212,0,2015,4
3889100029,1611,20140617T000000,810000.0,3,2.50,2670,10481,2.0,0,0,...,2003,0,98033,47.6673,-122.176,2620,8895,0,2014,6
3995700435,1384,20140702T000000,265000.0,4,3.00,1940,8170,1.0,0,0,...,1948,0,98155,47.7381,-122.302,1310,8169,0,2014,7
5083000375,4332,20141027T000000,170000.0,3,1.00,1310,9529,1.0,0,0,...,1956,0,98198,47.4105,-122.295,1330,9529,0,2014,10
5083000375,4332,20150319T000000,235000.0,3,1.00,1310,9529,1.0,0,0,...,1956,0,98198,47.4105,-122.295,1330,9529,0,2015,3
5104540330,3498,20150508T000000,679000.0,4,2.50,3680,7236,2.0,0,0,...,2006,0,98038,47.3543,-122.005,3310,7180,0,2015,5
5428000070,2295,20150511T000000,770000.0,5,3.50,4750,8234,2.0,0,2,...,2013,0,98198,47.3574,-122.318,2160,14496,0,2015,5
6131600255,4236,20141222T000000,202500.0,3,2.00,1540,8316,1.0,0,0,...,1954,0,98002,47.3230,-122.216,1250,8316,0,2014,12
6306800010,20,20140811T000000,436472.0,4,2.50,2692,8392,2.0,0,0,...,2014,0,98030,47.3519,-122.197,2574,14446,0,2014,8
6821600300,2866,20150318T000000,886000.0,3,2.25,2380,6000,2.0,0,0,...,1931,0,98199,47.6472,-122.393,2000,6000,0,2015,3
6823100225,4684,20150414T000000,700000.0,4,1.75,1870,6000,1.0,0,0,...,1949,0,98199,47.6435,-122.399,1710,6000,0,2015,4
7137950720,2765,20150304T000000,339100.0,4,2.50,2350,10655,2.0,0,0,...,1992,0,98092,47.3284,-122.171,2210,7028,0,2015,3
7731100066,2260,20140612T000000,545000.0,3,1.00,1510,5000,1.5,0,0,...,1909,0,98105,47.6708,-122.297,1680,4000,0,2014,6
7920100025,3475,20150427T000000,450000.0,2,1.00,740,5100,1.0,0,0,...,1947,0,98115,47.6787,-122.301,920,5100,0,2015,4
8100400160,3840,20150413T000000,700000.0,3,2.25,2330,11424,2.0,0,0,...,1984,0,98052,47.6386,-122.110,2050,11448,0,2015,4
8146100580,1727,20141020T000000,765000.0,3,1.00,1220,7585,1.0,0,0,...,1954,0,98004,47.6094,-122.194,1380,8918,0,2014,10
8563000110,2068,20150424T000000,427000.0,4,1.75,1460,9750,1.0,0,0,...,1967,0,98008,47.6205,-122.102,1820,9840,0,2015,4
8861700030,1589,20141212T000000,510000.0,3,1.50,2400,10275,1.0,0,0,...,1964,0,98052,47.6888,-122.126,2380,10125,0,2014,12
8965450190,1459,20150218T000000,295000.0,3,2.50,1500,3060,2.0,0,0,...,1994,0,98006,47.5605,-122.117,2700,7734,0,2015,2
9510920050,1472,20140902T000000,725000.0,3,2.50,2980,16996,2.0,0,0,...,1992,0,98075,47.5950,-122.016,2980,15438,0,2014,9
9524100196,1474,20141117T000000,239000.0,2,1.50,680,772,2.0,0,0,...,2005,0,98103,47.6950,-122.343,690,1059,0,2014,11

Присоедините к таблице clients данные по домам через метод merge Это нужно, чтобы понимать, какие дома покупались клиентами 

house_id - это индексы датафрейма с домами

In [9]:
joint_merge = clients.merge(df, left_on='house_id', right_on='house_id')

joint_merge

,client_id,house_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
0,1459,8965450190,20150218T000000,295000.0,3,2.50,1500,3060,2.0,0,...,1994,0,98006,47.5605,-122.117,2700,7734,0,2015,2
1,4684,6823100225,20150414T000000,700000.0,4,1.75,1870,6000,1.0,0,...,1949,0,98199,47.6435,-122.399,1710,6000,0,2015,4
2,3498,5104540330,20150508T000000,679000.0,4,2.50,3680,7236,2.0,0,...,2006,0,98038,47.3543,-122.005,3310,7180,0,2015,5
3,3942,2131701075,20141204T000000,420000.0,3,1.75,1720,5000,1.5,0,...,1932,2009,98019,47.7380,-121.983,1410,8300,77,2014,12
4,4535,1522700060,20140624T000000,518000.0,4,2.75,2520,14021,2.0,0,...,1999,0,98019,47.7344,-121.957,2330,14007,0,2014,6
5,2308,1189000207,20141021T000000,387000.0,2,2.50,1170,1394,2.0,0,...,2001,0,98122,47.6131,-122.297,1250,3136,0,2014,10
6,2866,6821600300,20150318T000000,886000.0,3,2.25,2380,6000,2.0,0,...,1931,0,98199,47.6472,-122.393,2000,6000,0,2015,3
7,2765,7137950720,20150304T000000,339100.0,4,2.50,2350,10655,2.0,0,...,1992,0,98092,47.3284,-122.171,2210,7028,0,2015,3
8,1472,9510920050,20140902T000000,725000.0,3,2.50,2980,16996,2.0,0,...,1992,0,98075,47.5950,-122.016,2980,15438,0,2014,9
9,4236,6131600255,20141222T000000,202500.0,3,2.00,1540,8316,1.0,0,...,1954,0,98002,47.3230,-122.216,1250,8316,0,2014,12
10,2295,5428000070,20150511T000000,770000.0,5,3.50,4750,8234,2.0,0,...,2013,0,98198,47.3574,-122.318,2160,14496,0,2015,5
11,939,1788800910,20141020T000000,190000.0,3,1.00,1200,10458,1.0,0,...,1961,0,98023,47.3262,-122.342,1160,9000,0,2014,10
12,3840,8100400160,20150413T000000,700000.0,3,2.25,2330,11424,2.0,0,...,1984,0,98052,47.6386,-122.110,2050,11448,0,2015,4
13,280,3123049142,20140805T000000,452000.0,3,2.25,2600,14810,1.0,0,...,1956,0,98166,47.4326,-122.341,2450,16715,0,2014,8
14,20,6306800010,20140811T000000,436472.0,4,2.50,2692,8392,2.0,0,...,2014,0,98030,47.3519,-122.197,2574,14446,0,2014,8
15,4332,5083000375,20141027T000000,170000.0,3,1.00,1310,9529,1.0,0,...,1956,0,98198,47.4105,-122.295,1330,9529,0,2014,10
16,4332,5083000375,20150319T000000,235000.0,3,1.00,1310,9529,1.0,0,...,1956,0,98198,47.4105,-122.295,1330,9529,0,2015,3
17,3475,7920100025,20150427T000000,450000.0,2,1.00,740,5100,1.0,0,...,1947,0,98115,47.6787,-122.301,920,5100,0,2015,4
18,4213,1951600150,20150408T000000,180000.0,3,1.00,1610,8500,1.5,0,...,1959,0,98032,47.3717,-122.297,1070,8750,0,2015,4
19,3113,809001400,20140922T000000,925000.0,3,1.00,1630,3200,1.5,0,...,1912,0,98109,47.6351,-122.352,1710,3600,0,2014,9
20,4809,339600110,20140923T000000,395000.0,3,2.50,1610,3755,2.0,0,...,1987,0,98052,47.6825,-122.097,1300,3823,0,2014,9
21,2134,1622049154,20141215T000000,289900.0,3,1.75,1899,11325,2.0,0,...,1943,2005,98198,47.3987,-122.300,2000,10454,62,2014,12
22,2242,1099600250,20141202T000000,260000.0,3,1.75,1710,6400,1.0,0,...,1976,0,98023,47.3036,-122.377,1600,6400,0,2014,12
23,2068,8563000110,20150424T000000,427000.0,4,1.75,1460,9750,1.0,0,...,1967,0,98008,47.6205,-122.102,1820,9840,0,2015,4
24,4929,2768100205,20140625T000000,519000.0,4,2.50,1950,2617,1.5,0,...,1910,0,98107,47.6696,-122.372,1520,1438,0,2014,6
25,1384,3995700435,20140702T000000,265000.0,4,3.00,1940,8170,1.0,0,...,1948,0,98155,47.7381,-122.302,1310,8169,0,2014,7
26,1589,8861700030,20141212T000000,510000.0,3,1.50,2400,10275,1.0,0,...,1964,0,98052,47.6888,-122.126,2380,10125,0,2014,12
27,3317,3303980210,20150427T000000,1115000.0,4,3.75,4040,14212,2.0,0,...,2002,0,98059,47.5189,-122.147,3940,14212,0,2015,4
28,2260,7731100066,20140612T000000,545000.0,3,1.00,1510,5000,1.5,0,...,1909,0,98105,47.6708,-122.297,1680,4000,0,2014,6
29,1727,8146100580,20141020T000000,765000.0,3,1.00,1220,7585,1.0,0,...,1954,0,98004,47.6094,-122.194,1380,8918,0,2014,10
30,1764,825069097,20140619T000000,770000.0,3,2.50,2650,40705,2.0,0,...,1994,0,98053,47.6680,-122.063,2550,42625,0,2014,6
31,1611,3889100029,20140617T000000,810000.0,3,2.50,2670,10481,2.0,0,...,2003,0,98033,47.6673,-122.176,2620,8895,0,2014,6
32,1474,9524100196,20141117T000000,239000.0,2,1.50,680,772,2.0,0,...,2005,0,98103,47.6950,-122.343,690,1059,0,2014,11

### Задача 3

Составьте несколько сводных таблиц

Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [25]:
df.groupby('bedrooms')['price'].mean().sort_values(ascending=True)

bedrooms
1     3.176429e+05
2     4.013727e+05
0     4.095038e+05
3     4.662321e+05
11    5.200000e+05
4     6.354195e+05
33    6.400000e+05
5     7.865998e+05
10    8.193333e+05
6     8.255206e+05
9     8.939998e+05
7     9.511847e+05
8     1.105077e+06
Name: price, dtype: float64

Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [28]:
df.groupby('condition').agg({'price': ['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [38]:
df.groupby(['view','waterfront']).size()

view  waterfront
0     0             19489
1     0               331
      1                 1
2     0               955
      1                 8
3     0               491
      1                19
4     0               184
      1               135
dtype: int64

Каких домов в зависимости от этажности и количества спален больше?

In [57]:
df.apply(lambda x: str(x['floors']) + ' floors and ' + str(x['bedrooms']) + ' bedrooms', axis=1).agg(pd.Series.mode)

0    1.0 floors and 3 bedrooms
dtype: object

Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [59]:
df.groupby(['condition', 'grade']).agg({'price':['median']})

                     price
                    median
condition grade
1         1       142000.0
          4       150000.0
          5       190000.0
          6       255000.0
          7       403500.0
          8       932500.0
2         3       280000.0
          4       145000.0
          5       180000.0
          6       235000.0
          7       305000.0
          8       429000.0
          9       715000.0
          10     1752500.0
3         3        75000.0
          4       205000.0
          5       234475.0
          6       265000.0
          7       357500.0
          8       485000.0
          9       689000.0
          10      890000.0
          11     1209500.0
          12     1807500.0
          13     2888000.0
4         4       238525.0
          5       229975.0
          6       295000.0
          7       390000.0
          8       571250.0
          9       823500.0
          10     1030000.0
          11     1685000.0
          12     2125000.0
          13     5750000.0
5         3       262000.0
          5       227450.0
          6       285475.0
          7       456000.0
          8       696000.0
          9      1078000.0
          10     1650000.0
          11     2050000.0
          12     1990000.0